h1, h2, h3 {
    font-family: 'Open Sans','Raleway', sans-serif;
}

main {
    font-family: 'Open Sans Condensed', 'Rubik', sans-serif;
    
}
.code {
    font-family: 'Ubuntu Mono', 'PT Mono', monospace;

}